@{
    ViewBag.Title = "Perfil";
}

<div class="jumbotron">
    <h1>@ViewData["name"].ToString() </h1>
    <h2> @ViewData["username"].ToString() - @ViewData["email"].ToString()</h2>
    <p class="lead">@ViewData["description"].ToString()</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Feed</h2>
    </div>
</div>

<div class="row">
    @try
    {
        foreach (var tweet in ViewData["feed"] as List<ConectaTEC.Models.TweetsModel>)
        {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/Home/Perfil?username='@tweet.username'">@tweet.username</a>
                </div>
                <div class="panel-body">
                    <h2>@tweet.body.ToString()</h2>
                </div>
            </div>
        </div>
        }
    }
    catch
    {
        <p>No hay publicaciones todavia</p>
    }
</div>

